@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;

}

.row {
    margin-right: 0px;
}




/* Inicio Configuração Header  */



/* Fim configuração Header */



/* Inicio Configuraçao Home */



/* Fim configuração Home */



/* Inicio configuração sobre nos */



/* Fim configuração sobre nos */



/* Inicio configuração contato */

.contato-banner {
  

}

.text-primary {
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-address-list  {
    list-style: none;
}

.contact-address-list li {
    border-top: 0.3px solid rgba(0, 255, 0, 0.5);
    padding: 15px;
}

.user-details-image img {
    width: 130px;
    height: 130px;
    padding: 5px;
    border: 2px solid green;
}

.user-info-settings {
    margin-top: 30px;
}

.text-success {
    margin-bottom: 20px;
}

.text-label {
    font-family: 'Poppins', sans-serif;
}

.user-intro p {
    font-family: 'Poppins', sans-serif;
}

.contact-addresses {
    font-family: 'Poppins', sans-serif;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.user-info-settings {
    margin-left: 15px;
}

.card-body {
border: 1px solid green;
border-radius: 5px;
margin-top: 30px;

}

.card-body user-details-contact text-center {
    margin-right: 15px;

}

div#imgform {
    align-items: center;
    margin: auto;
}






/* Fim configuração Contato */


/* Incio Configuração ponot de coleta */


/* Fim configuração ponto de coleta */


/* Inicio configuração formulario de login */



/* Fim configuração formulario de login */



/* Inicio configuração formulario de cadastro */



/* Fim configuração formulario de cadastro */









