@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Inicio Configuração Header  */

a.efeitoTransicao {
    color: black;
    font-size: 20px;
    padding: 30px;
    font-weight: bolder
}

a.efeitoTransicao:hover {
    color: limegreen;
    transition: 0.3s;

}

.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.3s;
}

ul.marginHeader {
    margin-right: 100px;

}

.logoMargin {
    margin-left: 100px
}

/* Fim configuração Header */

/* Inicio configuracao FAQ */

h1.h1FAQ {
    color: limegreen;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 140px;
    font-family: 'Poppins', sans-serif; 
}

.alterarBtnLetra {
    color: white;
    font-size: 20px
}

.alterarBtnLetra:hover {
    color: black;
    text-decoration: none;

}





/* Inicio Configuraçao Home */

.mapa-home {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    color: white;
}

.texto-card-home-mapa {
    font-family: 'Poppins', sans-serif; 
}

.card-home-mapa {
    background-color: white;
    color: black;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.titulo-card-home {
    font-family: 'Poppins', sans-serif;
}

.texto-card-home {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.texto-info-home {
    margin-top: 20px;
}

.cor-card {
    /* background-color: #798b41; */
    /* color: white; */
}

.loja-anuncio {
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}





/* Fim configuração Home */



/* Inicio configuração sobre nos */
div.sobre{
    text-align: justify;
   
    
}
article.texto{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    
}
div.foto{
    margin-top: 10px;
    margin-bottom: 10px;
}
#margem{
    margin-bottom: 35px;
}


/* Fim configuração sobre nos */



/* Inicio configuração contato */

.contato-banner {
  /* background-image: url('/img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */

}

.text-primary {
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-address-list  {
    list-style: none;
}

.contact-address-list li {
    border-top: 0.3px solid rgba(0, 255, 0, 0.5);
    padding: 15px;
}

.user-details-image img {
    width: 130px;
    height: 130px;
    padding: 5px;
    border: 2px solid green;
}

.user-info-settings {
    margin-top: 30px;
}

.text-success {
    margin-bottom: 20px;
}

.text-label {
    font-family: 'Poppins', sans-serif;
}

.user-intro p {
    font-family: 'Poppins', sans-serif;
}

.contact-addresses {
    font-family: 'Poppins', sans-serif;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.user-info-settings {
    margin-left: 15px;
}

.dadosContato .card {
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 30px;
}

textarea {
    resize: none;
}

.card-body user-details-contact text-center {
    margin-right: 15px;
    

}

div#imgform {
    align-items: center;
    margin: auto;
}

p#frase {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    color:white;
    margin-top: 30px;
}

.recycle-feeds .recycle-icon {
    float: left;
    margin: 0 20px 0 15px;
    font-size: 3em;
    color: #3a4543;
    text-align: center;
    width: 95px;
    height: 95px;
    display: block;
    line-height: 95px;
    background-color: #1caa09
}

.recycle-feeds .recycle-icon i {
    color: white;
}

.recycle-feeds {
    background-color: #1caa09;
    margin-top: 5px;
}

/* Fim configuração Contato */


/* Incio Configuração ponot de coleta */


/* Fim configuração ponto de coleta */




/*Início Configuração Footer*/

#footer{
    background: #08aa84;
    padding-top:30px;
    padding-bottom:30px;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}

.nav-item-newsletter{
    padding-left: 60px;
    margin:0;
}

.newsletter-footer{
    width: 200px;
    height:25px;
 }

.footer-logo-size{
    padding:30px;
}

#foot5{
    background-color:  #0a9776;
}

.nav-item-redes-sociais{
    padding:10px;
}
.menu-footer{
   color:white;
   font-weight:bold;
   
}

#footer-copyrights{
    color:white;    
}

.icones-footer{
    inline-size: 40px;
}
/*
.text center text-muted#footercopyrights{
    color: whitesmoke;
}
COMO USAR A CLASSE PARA MUDAR COR DA FONTE */

/* Inicio configuração formulario de login */

#input-remember-user{
    width:20px;
    height: 20px;
}

<<<<<<< HEAD
#label-remember-user{
    font-size: 0.9rem;

=======
input.form-control{
    width: 250px;
    height:30px;
    
>>>>>>> 8abf1cd0e1d84f381636e96377f957743f74c9eb
}
#btn-login{
    background-color:green;
}





/* Fim configuração formulario de login */


.modal-content-login{
    background-color: rgba(36, 230, 36, 0.6);
    color:white;
}

/* Inicio configuração formulario de cadastro */



.modal-content-usuario{
    background-color: rgba(36, 230, 36, 0.6);
    color: white;
    border-radius: 10px;
}



/* Fim configuração formulario de cadastro */