*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* Inicio Configuração Header  */



/* Fim configuração Header */



/* Inicio Configuraçao Home */



/* Fim configuração Home */



/* Inicio configuração sobre nos */



/* Fim configuração sobre nos */



/* Inicio configuração contato */




/* Fim configuração Contato */


/* Incio Configuração ponot de coleta */


/* Fim configuração ponto de coleta */


/* Inicio configuração formulario de login */



/* Fim configuração formulario de login */



/* Inicio configuração formulario de cadastro */



/* Fim configuração formulario de cadastro */









